airdrop-ng==1.1
airgraph-ng==1.1
appdirs==1.4.4
asn1crypto==1.4.0
backports.csv==1.0.7
Beaker==1.11.0
beautifulsoup4==4.9.2
binwalk==2.2.0
Brlapi==0.7.0
btrfsutil==1.2.0
CacheControl==0.12.6
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.14.3
chardet==3.0.4
cli-helpers==2.1.0
click==7.1.2
colorama==0.4.3
configobj==5.0.6
contextlib2==0.6.0.post1
cryptography==3.1.1
delegator.py==0.1.1
distlib==0.3.1
distro==1.5.0
docopt==0.6.2
docutils==0.16
EditorConfig==0.12.2
Flask==1.1.2
frida==12.11.16
frida-tools==8.1.3
future==0.18.2
html5lib==1.1
idna==2.10
impacket==0.9.21
isc==2.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsbeautifier==1.13.0
ldap3==2.8.1
lensfun==0.3.95
litecli==1.4.1
louis==3.15.0
Mako==1.1.3
MarkupSafe==1.1.1
msgpack==1.0.0
objection==1.9.6
ordered-set==4.0.2
packaging==20.4
pcapy==0.11.5.dev0
pefile==2019.4.18
pep517==0.8.2
pexpect==4.8.0
Pillow==7.2.0
ply==3.11
prettytable==0.7.2
progress==1.5
prompt-toolkit==3.0.7
protonvpn-cli==2.2.4
psutil==5.7.2
ptyprocess==0.6.0
pwquality==1.4.2
pyalsa==1.1.6
pyasn1==0.4.8
pycairo==1.19.1
pycparser==2.20
pycryptodome==3.9.8
pycryptodomex==3.9.7
pyenchant==3.0.1
Pygments==2.6.1
PyGObject==3.36.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pythondialog==3.5.1
pytoml==0.1.21
pyxdg==0.26
PyYAML==5.3.1
qrcode==6.1
rados==2.0.0
rbd==2.0.0
requests==2.24.0
resolvelib==0.4.0
retrying==1.3.3
rgw==2.0.0
simplejson==3.17.2
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
tabulate==0.8.7
team==1.0
terminaltables==3.1.0
terminator==1.92
toml==0.10.1
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
xmltodict==0.12.0
